{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<h1 class="page-header">Derniéres Tâches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Todo</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for todo in todos %}
    <tr>
      <th scope="row">{{ todo.id }}</th>
      <td>{{todo.name}}</td>
      <td>{{todo.dueDate|date('F j, Y, g:i a')}}</td>
      <td>
      	<a href="/todo/details/{{todo.id}}" class="btn btn-success">Voir</a>
      	<a href="/todo/edit/{{todo.id}}" class="btn btn-default">Editer</a>
      	<a href="/todo/delete/{{todo.id}}" class="btn btn-danger">Supprimer</a>
      </td>

    </tr>
    {% endfor %}
    
    
  </tbody>
</table>

{% endblock %}